@media (max-width: 534px) and (min-width: 350px){

    /* Nav */
    #menu {
        display: inline-flex;
        justify-content: space-between;
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
    }

    #title {
        font-size: 30px;
        order: 1;
    }

    #menu {   /* icone do menu */
        display: block;
        order: 2;
    }

    #itens{
        display: none;
        order: 3;
        width: 100%;
        flex-direction: column;
        background-color: rgb(130, 0, 181);
        padding: 10px 0;
    }

    #itens.active {
        display: flex;
    }

    .menu-nav{
        font-size: 18px;
        display: flex;
        flex-direction: column;
    }

    .menu-nav a{
        transition: 200ms;
    }

    .menu-nav a:hover{
        font-size: 18px;

    }

    /* Sobre nós */

    .sobre-sc{
        padding: 70px 20px;
    }

    .sobre-sc p{
        font-size: 18px;
        color: #333;
        width: 85%;
        margin: 30px auto;
    }
    /* Produtos */

    .produto-item img{
        width: 60vw;
    }

    /* Contato e Mapa */
    .contato-itens {
        display: inline-flex;
    }

    .contato-itens form{
        margin-left: 0px;
        width: 80vw;
    }

    .contato-itens iframe{ 
        margin-right: 0px;
        width: 400px;
        height: 400px;
    }

    /* Footer */

    footer p{
        font-size: 12px;
    }

    .icones img {
        width: 30px;
        height: 30px;
    }


    .botao-zap{
        display: none;
    }

    /* pag 3*/

    /* Nav */

    .pedido-sc {
        display: grid;
        
    }

    .pedido-lista{
        display: grid;
        justify-items: center;
    }

    .pedido-lista p{
        font-size: 13px;
    }

    .pedido-item h2{
        font-size: 23px;
    }

    .pedido-item{
        gap: 0px;
        display: inline-block;
        width: 70vw;
        text-align: center;
    }

    .pedido-item img{
        width: 200px;
        height: 200px;
        align-items: center;
        display: flex;
        margin: auto;
        margin-bottom: 15px;
    }

    .pedido-info button{
        margin-left: 5px
    }

    .pedido-info span{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .pedido-carrinho-item h3{
        font-size: 14px;
    }

    .pedido-carrinho-preco{
        font-size: 12px;
    }

    .finalizar-pedido{
        width: 80vw;
        padding: 25px 15px;
    }

}

@media (max-width: 800px) and (min-width: 535px){

    /* Nav */
    #menu {
        display: inline-flex;
        justify-content: space-between;
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
    }

    #title {
        font-size: 30px;
        order: 1;
    }

    #menu {   /* icone do menu */
        display: block;
        order: 2;
    }

    #itens{
        display: none;
        order: 3;
        width: 100%;
        flex-direction: column;
        background-color: rgb(130, 0, 181);
        padding: 10px 0;
    }

    #itens.active {
        display: flex;
    }

    .menu-nav{
        font-size: 18px;
        display: flex;
        flex-direction: column;
    }

    .menu-nav a{
        transition: 200ms;
        margin-right: 0px;
    }

    .menu-nav a:hover{
        font-size: 18px;

    }

    /* Sobre nós */

    .sobre-sc{
        padding: 70px 20px;
    }

    .sobre-sc p{
        font-size: 18px;
        color: #333;
        width: 85%;
        margin: 30px auto;
    }

    /* Contato e Mapa */
    .contato-itens {
        display: inline-flex;
    }

    .contato-itens form{
        margin-left: 0px;
    }

    .contato-itens iframe{ 
        margin-right: 0px;
        width: 300px;
        height: 400px;
    }

    /* Footer */

    footer p{
        font-size: 12px;
    }

    .icones img {
        width: 30px;
        height: 30px;
    }


    #wpp {
        display: none;
    }


    /*Pagina 3*/

     .pedido-sc {
        display: grid;
        justify-content: center;
        
    }

    .pedido-lista{
        display: grid;
        justify-items: center;
    }

    .pedido-lista p{
        font-size: 13px;
    }

    .pedido-item h2{
        font-size: 23px;
    }

    .pedido-item{
        display: inline-block;
        width: 70vw;
        text-align: center;

    }

    .pedido-item img{
        width: 200px;
        height: 200px;
        align-items: center;
        display: flex;
        margin: auto;
        margin-bottom: 15px;
    }

    .pedido-info button{
        margin-left: 5px
    }

    .pedido-info span{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .finalizar-pedido{
        width: 80vw;
        padding: 25px 50px;
    }

} 

/* Responsividade da pagina de pedidos*/

@media (max-width: 1333px){

    .pedido-lista{
        display: grid;
        justify-items: center;
    }

    .pedido-item{
        gap: 0px;
        display: inline-block;
        text-align: center;
    }

    .pedido-item img{
        width: 200px;
        height: 200px;
        align-items: center;
        display: flex;
        margin: auto;
        margin-bottom: 15px;
    }

    .pedido-lista p{
        font-size: 13px;
    }

    .pedido-item h2{
        font-size: 23px;
    }

    .pedido-info button{
        margin-left: 5px
    }

    .pedido-info span{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}



