@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "TikTok Sans";
}
header{
    color: aliceblue;
    text-align: center;
}

nav{
    background-color: gray;
}

nav a{
    text-decoration: none;
    color: aliceblue;
}

footer{
    background-color: grey;
    padding: 15px;
    height: 55px;
    text-align: center;
    display: inline-block;
    align-content: end;
    width: 100vw;
}

footer p{
    font-size: 10px;
    color: aliceblue;
    
}

footer img{
    width: 25px;
    display: inline-flex;
    gap: 10px;

}