@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "TikTok Sans";
}

nav{
    background-color: gray;
}

footer{
    background-color: grey;
    padding: 10px;
    height: 25px;
    display: grid;
    
}

footer p{
    font-size: 10px;
}
