@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "TikTok Sans";
}

nav{
    background-color: rgb(130, 0, 181);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
}

.menu-nav a{
    margin-right: 15px;
    text-decoration: none;
    color: white;
}

.botao-login{
    background-color: rgb(255, 255, 255);
    padding: 8px 15px;
    border-radius: 15px;
    text-decoration: none;
    font-weight: bold;
}

footer{
    background-color: grey;
    padding: 10px;
    height: 25px;
    display: grid;
    
}

footer p{
    font-size: 10px;
}

.botao-zap{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    display: flex;
}